<!DOCTYPE html>
<html>
<head>
<title>Chem Inventory</title>
<link rel="stylesheet" type="text/css" href="homepage.css">
</head>
<body>
<header>
    <div class="main">
        <ul>
            <li class ="active"><a href='#'>Home</a></li>
            <li><a href="adm_login.html">Admin Login</a></li>
            <li><a href="staff_login.html">Staff Login</a></li>
        </ul>
    </div>
    <div class ="title">
        <h1>Chemical Inventory</h1>
    </div>
    <div class="transbox">
        <p>
           Maintaining an accurate chemical inventory is a never ending job, and one with little margin for error. 
           Any inconsistency can lead to major problems for health, safety and sustainability. 
           So a chemical inventory system is must for an organisation looking to take control of their inventory. 
           A good Chemical Inventory system offers a number of advantages that will help you simplify chemical ordering, storage, use and reporting while reducing the potential for human error.
        </p>
    </div>
</header>
</body>
</html>