<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Sign Up</title>
    <style type="text/css">
    .box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    border-radius: 30px;
    text-align: center;
    </style>
</head>
<body>
     <div id="particles-js"></div>
        <div class="s">
            <div class="">
             <div class="w3-container">
        <center> <h1 style="color : white ">Chemical Inventory</h1></center>
             </div>
        </div>
     </div>
    <form class="box" action="">
        <h1>Sign Up</h1>
        
        <hr>
        <br>
        <!-- Username -->
        <label style="color: white; font-weight: bold;" for="Username">Username</label>
        <input type="text" name="Username" placeholder="Username" required>
        <!-- password -->
        <label style="color: white; font-weight: bold;" for="password">Password</label>
        <input type="password" name="password" placeholder="password" required>
        <!-- gmail -->
        <label style="color: white; font-weight: bold;" for="email">Email</label>
        <input type="text" name="email" placeholder="@gmail.com" required>
        <!-- phone -->
        <label style="color: white; font-weight: bold;" for="phone">Phone no</label>
        <input type="text" name="Phone" placeholder="Phone no" required>
        <!-- sign up -->
        <input type="submit" value="Sign Up">

        <span  style="color: white;"> <button class="x"><a href="login.html" class="p">Admin Login</a></button></span>
        <br>
        <span  style="color: white;"> <button class="x"> <a href="login2.html" class="p">Staff Login</a></button></span>
    
    </form>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://threejs.org/examples/js/libs/stats.min.js"></script>
    <script type="text/javascript" src="particle.js"></script>
</body>
</html>