<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Log In</title>
</head>

<body>
     <div id="particles-js"></div>
        <div class="s">
            <div class="">
             <div class="w3-container">
        <center> <h1 style="color : white ">Chemical Inventory</h1></center>
             </div>
        </div>
     </div>
    <form class="box" action="">
        <h1>Staff Login</h1>
        <hr>
        <input type="text" name="" placeholder="Username">
        <input type="password" name="" placeholder="password">
        <input type="submit" name="" value="Login">
        <button class="x"><a class="p" href="signup.html">Sign Up</a></button>

    </form>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://threejs.org/examples/js/libs/stats.min.js"></script>
    <script type="text/javascript" src="particle.js"></script>
</body>

</html>