.container{
    z-index: 100;
    margin-top: 10%;
}
.search-form{
    display: block;

}
.container
{
    position: relative;
}
body
{
	margin:0;
	padding: 0;
	/*display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;*/
	background: black;
	font-family: consolas;
	color: white;
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    border-radius: 30px;
    text-align: center;
    
}
.box h1
{
    color: white;
    text-transform: uppercase;
}
.box input[type="text"],.box input[type="password"]
{
    display: block;
   text-align: center;
    background: none;
    border:2px solid #3498db;
    outline: none;
    height: 50px;
    width: 200px;
    color: white;
    border-radius: 30px;
    margin: 20px auto;

}
.box input[type="text"]:focus,.box input[type="password"]:focus
{
    width:200px;
    border-color: #2ecc71;
}
.box input[type="submit"]
{
display: block;
   text-align: center;
    background: none;
    border:2px solid #3498db;
    outline: none;
    height: 40px;
    width: 100px;
    color: white;
    border-radius: 30px;
    margin: 20px auto;
}
.x
{
    color: white;
    
    margin: 10px;
    padding: 5px;
    background-color:  #191919;
    border:2px solid #3498db;
    border-radius: 30px;
    

}
.p
{
    text-decoration: none;
    color: white;
    font-weight: bold;
    
    
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 20%;
  background-color:black;
  color : yellow;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}